body {
  background-color: #D2691E;
}

header {
  color: #8B0000;
  position: absolute;
  top: 0px;
  left:0px;
  text-align: center;
  padding:10px;
  margin: 10px;
  width: 100%;
  height: 100px;
  font-family: Trebuchet, "Century Gothic", Arial, Verdana, sans-serif;
}

#center {
  position: absolute;
  top: 100px;
  left: 39%;
}

table {
  border: 1px solid black;
  background-color: #F0E68C;
  width: 300px;
}

td, th {
  border: 1px solid black;
}

#sub {
  position: absolute;
  top: 400px;
  left: 39%;
}
